<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JasperApiTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <JasperApiTester.Properties.Settings>
            <setting name="JasperApiTester_com_jasper_api_sms_SmsService"
                serializeAs="String">
                <value>https://api.jasper.com/ws/service/Sms</value>
            </setting>
            <setting name="JasperApiTester_com_jasper_api_eventplan_EventPlanService"
                serializeAs="String">
                <value>https://api.jasper.com/ws/service/eventplan</value>
            </setting>
        </JasperApiTester.Properties.Settings>
    </applicationSettings>
</configuration>