<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EventPlanBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="EventPlanBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.jasper.com/ws/service/eventplan"
                binding="basicHttpBinding" bindingConfiguration="EventPlanBinding"
                contract="EventPlan.EventPlanPortType" name="EventPlanPort" />
        </client>
    </system.serviceModel>
</configuration>