.divider_fieldset_subhead {
    font-size: .75em;
    color: @text-divider-fieldset-color;
    line-height: 1.2em; /* horizontal rule alignment */
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 1.4em;
}

.divider_fieldset_subhead:after {
    background: @layout-divider-fieldset-color;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-left: 1em;
}

.details_grid_actions {
    overflow: auto;
    background-color: @background-color;
    margin: 5px 20px 20px 20px;
    padding: 20px 20px 0 20px;
}

.details_grid_info {
    height: 15px;
    width: 15px;
    padding-left: 6px;
}

.name_selector_container {
    margin:5px 20px 20px 20px;
    overflow:auto;
}

.name_selector__text {
    display: block;
    float: left;
    border: 1px solid @form-textbox-border;
    background-color: @form-textbox-background;
    font-size: .85em;
    padding: 0 5px;
    min-height: 30px;
    box-sizing: content-box;
    width: ~"calc(100% - 44px)";
    margin-bottom:20px;
}

.name_add__button {
    min-height:32px;
    min-width:32px;
    background-color: @button-secondary-background-color;
    border: 1px solid @form-textbox-border;
    border-left-width:0px;
    color: @text-color;
    float:left
}

.device_list_columns_container {
    height:~"calc(100% - 195px)";
    margin-top:5px; 
    overflow-y:auto;
}

.details_grid_columns {
    overflow: auto;
    background-color: @background-color;
    margin: 5px 20px 20px 20px;
    padding: 10px 0px 10px 0px;
}

.device_list_columns_item {
    padding:5px 15px 5px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @text-devicecolumnlist-color;
}

.device_list_columns_item:hover {
    background-color: @menu-item-hover-background-color;
}

.device_list_columns_toolbar{
    position: absolute;
    right: 0px;
    top:0px;
    background-color: @menu-item-hover-background-color;
    visibility:hidden;
}

.device_list_columns_item:hover .device_list_columns_toolbar{
    visibility:visible;
}

.device_list_columns_toolbar_button{
    width:18px;
    height:18px;
    margin-top:3px;
    padding:2px;
    border: 1px solid transparent;
    cursor:pointer;
}

.device_list_columns_toolbar_button:hover {
    border: 1px solid @menu-border-color
}

.device_list_columns_toolbar_button_disabled {  
    width: 18px;  
    height: 18px;  
    margin-top: 3px;  
    padding: 2px;  
    border: 1px solid transparent;  
    cursor: pointer;  
    cursor: default;  
} 

.device_list_columns_button_container {
    position:absolute;
    bottom: 0px;
    left:0px;
    right:0px;
    padding:16px;
    background-color: @secondary-color;
}

.device_list_columns_button_container_spaceholder {
    height:64px;
}

.device_list_columns_displayname_text {
    border: 1px solid @form-textbox-border;
    background-color: @form-textbox-background;
    font-size: .85em;
    padding: 0 5px;
    min-height: 30px;
    box-sizing: content-box;
    width: ~"calc(100% - 8px)";
}

.device_list_columns_loaddefault_text {  
    position: absolute;  
    top: 0px;  
    right: 20px;  
}

.device_list_cell_image{
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left:5px
}

.device_list_cell_text{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left:5px
}

.button_with_icon {
    float: left;
    width: 1.8em;
    text-align: center;
    margin: 0.2em 0.4em -0.6em -0.5em;
    pointer-events: none;
}

.device_list_button_edit_column:before {
    .button_with_icon;
    content: url('/Content/img/edit_columns.svg');
}

.device_list_button_schedule_job:before {
    .button_with_icon;
    content: url('/Content/img/schedule_job.svg');
}

.device_list_multi_selection_grid {
    position: absolute;
    top: 0;
    right: -368px;
    width: 368px;
    background-color: @secondary-color;
    transition:right 0.1s linear;
    border-left: 2px solid @layout-border-color;
    z-index:200;
}

.device_list_multi_selection_grid_subhead {
  font-size: 1.1em;
  margin: 0;
  padding: 14px 20px 20px 20px;
  font-weight: bold;
}