<Environment version="1.0">
  <!-- General Settings -->
  <setting name="AllocationRegion" value="" />
  <setting name="SubscriptionId" value="" />
  <setting name="ServiceStoreAccountName" value="" />
  <setting name="ServiceStoreAccountConnectionString" value="" />
  <setting name="ServiceSBName" value="" />
  <setting name="ServiceSBConnectionString" value="" />
  <setting name="ServiceEHName" value="" />
  <setting name="ServiceEHConsumerGroup" value="" />
  <setting name="AzureAccountName" value="" />
  <!-- IotHub section -->
  <setting name="IotHubName" value="" />
  <setting name="IotHubConnectionString" value="" />
  <!-- DocDB section -->
  <setting name="DocDbEndPoint" value="" />
  <setting name="DocDBKey" value="" />
  <!-- Active Directory -->
  <setting name="AADTenant" value="" />
  <setting name="AADInstance" value="" />
  <setting name="AADClientId" value="" />
  <!-- Developer isolation -->
  <setting name="DeviceTableName" value="" />
  <setting name="ObjectTypePrefix" value="" />
  <!-- Solution Attributes -->
  <setting name="SolutionName" value="Remote Monitoring Solution" />
  <!-- ActionsProcessor -->
  <setting name="RulesEventHubName" value="--temp-placeholder--" />
  <setting name="RulesEventHubConnectionString" value="--temp-placeholder--" />
  <!-- Map Api -->
  <setting name="MapApiQueryKey" value="" />
</Environment>