@model ModelStateDictionary

@{
    var errors = Model.Values.SelectMany(modelState => modelState.Errors).ToList();

    foreach (var error in errors)
    {
        <div class="unique_device_id__error_check_id unique_device_id__error_check_id--not_available">
            @error.ErrorMessage
        </div>
    }
}


