<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SubscriptionManagementBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SubscriptionManagementBinding1" />
                <binding name="ApiStatusBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ApiStatusBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://serviceportal.telenorconnexion.com/dcpapi/SubscriptionManagement"
                binding="basicHttpBinding" bindingConfiguration="SubscriptionManagementBinding"
                contract="SubscriptionManagement.SubscriptionManagement" name="SubscriptionManagementPort" />
            <endpoint address="https://serviceportal.telenorconnexion.com/dcpapi/ApiStatus"
                binding="basicHttpBinding" bindingConfiguration="ApiStatusBinding"
                contract="ApiStatus.ApiStatus" name="ApiStatusPort" />
        </client>
    </system.serviceModel>

</configuration>