.command_form {
	padding:15px 30px;
	background-color:@background-color;
	font-size:1.4em;
	color:#4d4d4d;
}

.command_form__label {
	color: @form-fieldset-textbox-label;
	font-size:.7em;
	text-transform:uppercase;
}

.container_command {
    clear:both;
    }

.command_container {
    margin-top:1.8em;
    margin-bottom:2em;
    }

.command_parameter_field {
    clear: both;
    }

.command_parameter_field input[type=checkbox]{
    margin-bottom: 25px;
    clear:both;
    }

