@using GlobalResources
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
<div class="dashboardLeftColumn">
    @Html.Partial("_IccidAssociation")
</div>
<script type="text/javascript">
    $(window).ready(
        function () {
            'use strict';
            var config = {
                subheadContent: '@Html.JavaScriptString(Strings.DeviceAssociationTitle)',
                goBackUrl: '@Url.Action("SelectAdvancedProcess")'
            };

            IoTApp.Advanced.initSubView(config);
            IoTApp.Advanced.initAssociation();
        }
    );
</script>