@using GlobalResources
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@model Microsoft.Azure.Devices.Applications.RemoteMonitoring.Common.Models.DeviceAssociationModel

<fieldset class="registration_content">
	<div class="iccid_file_upload_input">
		<p class="iccid_file_upload_description small">
			@Strings.DeviceAssociationIccidUploadText
		</p>
	    <input id="iccidFileUpload" type="file" style="display: none;">
        <div class="fieldset_button">
            <button id="uploadIccidButton" class="add_new_button" type="button">@Strings.Upload</button>
            <br />
        </div>
	</div>
</fieldset>

<script type="text/javascript">
    $(window).ready(
            function() {
                'use strict';
                var config = {
                    subheadContent: '',
                    goBackUrl: '',
                    selectedProvider: '@Html.JavaScriptString(Model.ApiRegistrationProvider)'
                };
                IoTApp.Advanced.initSubView(config);
            });
</script>


