@using GlobalResources
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@model Microsoft.Azure.Devices.Applications.RemoteMonitoring.Common.Models.DeviceAssociationModel

<fieldset class="registration_content">
	<div class="iccid_file_upload_input">
		<p class="iccid_file_upload_description small">
			@Strings.DeviceAssociationIccidUploadText
		</p>
		<input id="IccidCsv" type="file">
		<br/>
	</div>
</fieldset>

<script type="text/javascript">
    $(window).ready(
            function() {
                'use strict';
                var config = {
                    subheadContent: '',
                    goBackUrl: '',
                    selectedProvider: '@Html.JavaScriptString(Model.ApiRegistrationProvider)'
                };

                $('#IccidCsv').on("change", function() {
                    IoTApp.Advanced.processCsvFileInput(this)
                      .then(IoTApp.Advanced.postIccidFileData)
					  .then(function() {
							IoTApp.Advanced.redirecToPartial('@Url.Action("DeviceAssociation")');
                       }, function(error) {
                            console.error(error); 
                        });
                });
                IoTApp.Advanced.initSubView(config);
            });
</script>


