/* ##### Layout styles ##### */

body {
    background-color: @body-background-color;
    }

.page {
    min-width: 800px;
    }

.search_container_closed {
    position: relative;
    float: left;
    width: 30px;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: @secondary-color;
    cursor: pointer;

    .pane_subhead {
        position: relative;
        top: 130px;
        background-image: url(img/icon_deviceExplorer_details_close.svg);
        background-repeat: no-repeat;
        background-size: 7px 11px;
        background-position: 0;
        .transform(rotate(270deg));
        white-space: nowrap;
        padding: 0 0 0 12px;
        font-size: 1.1em;
        font-weight: normal;
        }
    }

.search_container {
    position: relative;
    float: left;
    width: @search-pane-width;
    left: 0;
    top: 0;
    z-index: 200;

    .search_subhead {
        background-color: @secondary-color;
        padding: 14px 20px 7px 22px;
        margin: 0;
        font-weight: bold;
        font-size: 1.1em;
        background-image: url(img/icon_deviceExplorer_details_open.svg);
        background-repeat: no-repeat;
        background-position: 11px 20px;
        background-size: 7px 11px;
        cursor: pointer;
        }

    .search_details_container {
        border: 10px solid @secondary-color;
        overflow: hidden;
        padding: 10px;
        height: 100%;
        }

    .search_details_query {
        width: 239px;
        }

    .search_details_button_container {
        position: absolute;
        bottom: 12px;
        .display-flex();
        }

    .search_button.button_secondary {
            margin-left: 45px;
            margin-right: 10px;
        }

    .filter_add_clause_link {
        display: block;
        font-size: 14px;
        padding-left: 121px;
        padding-bottom: 13px;
        clear: both;
        }

    .filter_label {
        font-size: 70%;
        display: inline-block;
        width: 65px;
        float: left;
        line-height: 3.5;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        }

    .filter_input {
        width: @filter_input_width;
        font-size: 80%;
        margin-right: 0;
        margin-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        height: 30px;
        }

    input[type=text].filter_input {
        padding-left: 5px;
        width: @filter_input_width - 5px;  /* width of .filter_input minus the padding here */
        }

    .filter_clause_container {
        padding-top: 20px;
        clear: both;
        }

    #filter_holder {
        overflow-y: auto;
        }
    }


main {
    margin-left: 95px;
    background-color: @body-background-color;
    padding-top: 50px;


    &.main_no_nav {
        margin-left:0;
        }

    }

.header_main {
    position: relative;
    background-color: @secondary-color;
    padding: 20px 50px;
    min-height: 38px;
    }

.header_main_head {
    font-weight: normal;
    font-size: .7em;
    color: @text-mainhead-color;
    text-transform: uppercase;
    }

.header_main_subhead {
    color: @text-mainhead-color;
    margin: 0;
    font-size: 1.1em;

    &.header_main_subhead_large {
        font-size:1.8em;
        margin-top:-2px;
        }

    }

.content_outer {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: @secondary-color;

    &.content_grid {
        background-color:@background-color;
        }

    &.content_command {
        overflow:inherit;

        }

    }

.content_outer_selectDevice {
    overflow-x:visible;
    overflow-y:visible;
    }

.content_inner {
    width: auto;
    margin: 0 50px;

    &.content_message {
        background-color: @background-color;
        margin: 20px 50px 10px 0;
        padding: 30px;

        p {
            margin-bottom: 1.4em;
            }

        p:last-child {
            margin-bottom: 0;
            }
        }

    }

.content_inner_selectDevice {
    overflow-x:visible;
    overflow-y:visible;
    }

.list_select_device {
    min-width:1130px;
    list-style: none;
    }

.list_item_select_device {
    position: relative;
    float: left;
    width: 515px;
    min-height: 150px;
    margin: 10px 0;
    padding: 15px;
    background-color: @background-color;


    &:nth-child(2n+1) {
        margin-right: 20px;
        }

    &:nth-last-child(1),
    &:nth-last-child(2) {
        border: 0;
        }

    }

.select_device_subhead {
    margin-bottom: 1em;
    }

.select_device_description {
    font-size: .85em;
    color:@text-devicedetail-color;
    }

.content_grid {
    margin-top: 0;
    
    .content_inner {
        margin: 0;
        max-width: inherit;
        }

    }

.container_button {
    margin-top:.85em;

    .button_secondary {
        float:right;
        margin-right:0;
        }

    }

.container_command {
    clear:both;
    }



/* Layout - Grid */

.details_grid {
    display: none;
    position:absolute;
    top:0;
    right:0;
    width: 368px;
    background-color: @secondary-color;
    overflow-y: scroll;

    .grid_subhead {
        background-image: url(img/icon_deviceExplorer_details_close.svg);
        background-repeat: no-repeat;
        background-position: 20px 22px;
        background-size: 7px 11px;
        font-size:1.1em;
        margin: 0;
        padding: 14px 20px 20px 30px;
        background-color: @secondary-color;
        font-weight: normal;
        }

    section {
        overflow:auto;
        background-color: @background-color;
        margin: 5px 20px 20px 20px;
        padding: 20px 20px 0 20px;

        &.details_grid_general {
            padding-right:13px;
            }

        }

     .no_device_selected {
        text-align: center;
        margin-top:5em;
        font-size: 1.2em;
        }

    .button_details_grid {
        width: auto;
        font-weight: bold;
        }
    }  



.details_grid_regenerate_keys {
    display: none;
    }

.header_grid {
    overflow: auto;
    }

.grid_subheadhead_detail {
    float: left;
    margin: 0;
    padding: 0 0 0 20px;
    font-size: @font-size-panel-subsection-header;
    color: @text-devicedetail-color;
    font-weight: normal;
    }

.link_grid_subheadhead_detail {
    float: right;
    font-size: @font-size-panel-subsection-header;
    margin-right: 20px;
    }

.grid_subhead_detail_label {
    color: @text-devicedetail-color;
    text-transform: uppercase;
    font-size: @font-size-grid-subhead-detail-label;
    margin: 1.2em 0 3px 0;
    font-weight: normal;
    clear: both;

    &:first-child {
        margin-top: 0;
        }

    }

.grid_detail_value {
    font-size: @font-size-property-value;
    color: @text-color;
    margin-bottom:1em;
    }

.grid_detail_not_registered {
    background-color:@text-devicedetail-head-background-color;
    color:@text-devicedetail-head-color;
    margin-left:-20px;
    margin-top:-20px;
    width:273px;
    padding:10px 20px;
    }

.grid_container {
    float: left;
    clear: none;
    overflow: scroll;
    font-size: .9em;
    border-left:1px solid @layout-border-color;
    border-right:1px solid @layout-border-color;
    background-color: @secondary-color;
    width: 1px; /* initial value--gets overwritten by JS code */
    }

.details_grid_closed {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: @secondary-color;

    .grid_subhead {
        background-image: url(img/icon_deviceExplorer_details_close.svg);
        background-repeat: no-repeat;
        background-position: 24px 15px;
        background-size: 7px 11px;
        .transform(rotate(90deg));
        white-space: nowrap;
        padding: 8px 0 0 40px;
        font-size: 1.1em;
        font-weight: normal;
    }
}

.grid_container_header {
    overflow: auto;
    height: 50px;
    line-height: 50px;
    
    .grid_subhead {
        float: left;
        margin: 0 0 0 15px;
        padding: 0;
        }

    }

.grid_container_page {
    float: right;
    margin: 0 15px 0 0;
    }

.input_small {
    width: 125px;
    }

.input_medium {
    width: 160px;
    }

/* Layout - add / edit devices */

.deviceid_case_warning {
    margin-bottom: 10px;
    }

.manage_subhead {
    color:@text-mainhead-color;
    font-size:26px;
    margin-bottom:.4em;
    }


.table_credentials {
    width:100%;
    background-color:@background-color;
    padding:30px;
    margin:0 0 10px 0;

    td {
        padding:.52em 0;
        font-size:1.4em;

        &.table_credentials_label {
            padding-right:1em;
            }

        }

    input[type="text"].input_credentials_value { 
        margin-bottom:0;
        margin-right:0;
        }

    }

.table_credentials_label {
    text-align:right;
    width:1em;
    white-space:nowrap;
    }


.container_input_manage_enter_id {
    margin-left:1.7em;
    }


/* Layout - instructions */

.content_instructions {
    clear:both;
    margin-bottom:20px;
    }

.list_instructions {
    background-color:@background-color;
    padding:30px;
    list-style:none;
    counter-reset:li;
    }

.list_instructions > li:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    left:1em;
    width:1em;
    color:#000;
    font-size:1.333em;
    font-weight:500;
    }

.list_item_instructions {
    margin:0 0 2em 1em;

    &:last-child {
        margin-bottom: 0;
        }

    }


/* Layout - Device Command */


.command_container {
    margin-top:1.8em;
    margin-bottom:2em;
    }


/* ##### Forms ##### */

.fieldset_content {
    padding:15px 30px;
    background-color:@background-color;
    font-size:1.4em;
    color:#4d4d4d;

    p {
        margin:.4em 0 .85em 0;
        }

    }

.fieldset_button {
    margin-top:10px;
    margin-bottom:20px;
    }

label {
    display: block;
    clear: both;
    }

.fieldset_textbox label {
    color: @form-fieldset-textbox-label;
    font-size:.7em;
    text-transform:uppercase;
    }

input[type="text"] {
    display: block;
    float: left;
    width: 460px;
    margin:.25em 1em 1.4em 0;
    border:1px solid @form-textbox-border;
    background-color: @form-textbox-background;
    font-size: .85em;
    padding: 0 5px;
    min-height:30px;
    box-sizing: content-box;

    &:disabled {
        color:@form-textbox-disabled-color;
        background-color:@form-textbox-disabled-background;
        border-color:@form-textbox-disabled-border;
        font-style:italic;
        }

    &:read-only {
        color:@form-textbox-readonly-color;
        background-color:@form-textbox-readonly-background;
        border-color:@form-textbox-readonly-border;
        }

    .small {
        .input_small;
        }
    .medium {
        .input_medium;
        }
    }

select#DataField {
    width: 460px;
}

select#Operator {
    width: 460px;
}

select#RuleOutput {
    width: 460px;
}


.command_parameter_field {
    clear: both;
    }

.command_parameter_field input[type=checkbox]{
    margin-bottom: 25px;
    clear:both;
    }

/* IE11 fix - replicates :read-only attribute. */
input[readonly] {
    color:@form-textbox-readonly-color;
    background-color:@form-textbox-readonly-background;
    border-color:@form-textbox-readonly-border;
    }


    input[type="text"].input_credentials_value {
        width:~"calc(100% - 55px)"; /* fluid width. Subtract width of copy button width and margin. */
        float:left;
        padding-bottom: 0;
        padding-top: 0;
        font-size:22px;
        font-weight:600;
        }

        .details_grid_general input[type="text"].input_credentials_value {
            font-size:@font-size-property-value;
            font-weight:normal;
            margin-right:0;

            &.input_credentials_device_id,
            &.input_credentials_host_name {
                margin-bottom:1.4em;
                }

            }

    input[type="text"].input_check_id {
        margin-bottom:0.4em;
        }


select {
    display: block;
    float: left;
    margin: .25em 1em 1.4em 0;
    border-color: @form-textbox-border;
    background-color: @form-textbox-background;
    border-width: 1px;
    font-size: .85em;
    padding: 0 5px;
    min-height:30px;
    box-sizing: content-box;
    .small {
        width: 475px;
        .input_small;
    }
    .medium {
        width: 475px;
        .input_medium;
        }
    }

textarea {
    width: 315px;
    height: 210px;
    border-color: @form-textbox-border;
    background-color: @form-textbox-background;
    font-size: .8em;
    }

.container_radio,
.container_checkbox {
    margin: 15px 0;
    
    label {
        clear: none;
        position: absolute;
        top: 0;
        left: 1.7em;
        }

    }

.textarea_label {
    font-size: .85em;
    margin-bottom: .85em;
    }

.form_filter {
    margin: 0 20px;
    }

.fieldset_filter_select {

    select {
        width: 100%;
        margin: 5px 0 20px 0;
        border-style:solid;
        border-width:1px;
        border-color:@form-textbox-border;
        padding: .5em 0;
        }

    label {
        font-size: .85em;
        }

    }

#textCopyDiv{
    overflow: hidden;
    }


.divider_fieldset_subhead {
    font-size:.7em;
    color:@text-divider-fieldset-color;
    line-height:1.2em; /* horizontal rule alignment */
    text-transform:uppercase;
    overflow:hidden;
    position:relative;
    width:100%;
    margin-bottom:1.4em;

    &:after {
        background: @layout-divider-fieldset-color;
        content: "";
        height: 1px;
        position: absolute;
        top: 50%;
        width: 100%;
        margin-left:1em;
        }

    &.grid_subhead_detail_label {
        font-size:@font-size-grid-subhead-detail-label;
        }

    }


::-webkit-input-placeholder { /* WebKit browsers */
    color:@form-textbox-disabled-color;
    background-color:@form-textbox-disabled-background;
    border-color:@form-textbox-disabled-border;
    font-style:italic;
    }

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:@form-textbox-disabled-color;
    background-color:@form-textbox-disabled-background;
    border-color:@form-textbox-disabled-border;
    font-style:italic;
    }



/* ##### Errors & Messages ##### */

input[type="text"].input-validation-error {
    border-color: @error-color;
    }

.device_detail_error {
    text-align: center;
    margin-top:5em;
    
     p {
        margin-bottom: 10px;
        }

     button {
        float:none;
        margin-left:auto;
        margin-right:auto;    
        }

    }

.error_check_id {
    clear:both;
    margin-top:.5em;
    font-size:16px;
    padding-left:25px;
    background-repeat:no-repeat;
    background-position:center left;


    &.error_check_id_available {
        color:@error-validate-color;
        background-image:url(img/icon_confirmed.svg);
        background-size:16px 18px;
        }

    &.error_check_id_not_available {
        color:@error-color;
        background-image:url(img/icon_error.svg);
        background-size:18px 18px;
        }

    }

/* errors & messages - these class names are generated on the server */
.field-validation-error {
    color: @error-color;
    line-height: 40px;
    margin-left: 10px;
    padding-left: 30px;
    min-height: 18px;
    background-image: url(img/icon_error.svg);
    background-size:18px 18px;
    background-position:center left;
    background-repeat: no-repeat;
    }

.field-validation-valid {
    display: none;
    float: left;
    width: 13px;
    height: 13px;
    margin: 15px 0 0 15px;
    background-image: url(img/icon_confirmed.svg);
    background-size:16px 18px;
    background-position:center left;
    background-repeat: no-repeat;
    }

.error_noscript {
    background-color:transparent;
    color:@error-color;
    background-color:@body-background-color;
    padding:1em;

    h1 {
        margin-bottom:.5em;
        }

    }


/* errors & messages - inline text box messages */

.message_textbox {
    line-height:36px;
    font-size:1em;
    color:@error-pending-color;
    }

.pending {
    color:@error-pending-color;
    }

.success {
    color: @error-validate-color;
    }


/* errors & messages - command history */

.dataTable .error_message,
.dataTable .error {
    color: @error-color;
    word-break: break-all;
    }



/* ##### Controls ##### */

button,
.button {
    display:block;
    float:left;
    color: @button-color;
    background-color: @button-background-color;
    border: 1px solid @button-border-color;
    font-size: 16px;
    min-width: 6.45em;
    padding: 0 1em;
    min-height:32px;
    cursor: pointer;

    &:disabled {
        background-color:@button-disabled-background-color;
        border-color:@button-disabled-border-color;
        color:@text-secondary-color;
        }

    }

    .button { /* anchor version */
        text-align:center;
        line-height:32px;

        &:hover {
            color:@button-color;
            text-decoration:none;
            }

        }
 
.button_secondary {
    background-color: @button-secondary-background-color;
    border: 1px solid @button-secondary-border-color;
    color: @text-color;
    margin-left: 1.8em;
    }

.button_copy {
    width: 30px;
    min-width: 30px;
    height: 30px;
    background-color: @button-copy-background-color;
    background-image: url(img/button_copy.svg);
    background-repeat: no-repeat;
    background-size:15px auto;
    background-position:center center;
    text-indent: -9999px;
    border: 0;
    margin: 6px 0 0 6px;
    padding: 0;
    }

    .details_grid_general .button_copy {
        margin-top:4px;
        }


.button_details_grid {
    cursor: pointer;
    }

.button_back {
    position: absolute;
    top: 30px;
    left: 18px;
    width: 20px;
    min-width: 20px;
    height: 16px;
    min-height:16px;
    max-height:16px;
    background-image: url(img/button_back.svg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    }

.button_selectDevice {
    position: absolute;
    bottom: 15px;
    left:20px;
    z-index: 100;
    width: 100px;
    max-width: 100px;
    padding-left: 0;
    padding-right: 0;
    font-size: .9em;
    }

.button_filter {
    position: absolute;
    bottom: 20px;
    width: 260px;
    }

.button_textbox_inline {
    margin-top:5px;
    }

.button_credentials {
    margin-bottom:2em;
    }

.button_execute {
    clear:both;
    }


.no_nav {
    margin-left: 0;
    }

.details_grid_general {

    .text_copy_container {
       float:left;
       width:100%;
       }

   }

.hidden {
    display:none;
    }

.readOnlyField {
    background-color: @form-textbox-readonly-background;
    color: @form-textbox-readonly-color;
    border: 1px solid @form-textbox-readonly-border;
    box-sizing: content-box;
    float: left;
    font-size: 0.85em;
    margin: 0.25em 1em 1.4em 0;
    min-height: 30px;
    padding: 0 5px;
    width: 460px;
}

/* ##### Progress animation ("spinner") ##### */

@progress-size:16px;

/* h-shadow v-shadow blur spread color */
@progress-box-shadow-1:0em -2.6em 0 0em;
@progress-box-shadow-2:1.8em -1.8em 0 0em;
@progress-box-shadow-3:2.5em 0em 0 0em;
@progress-box-shadow-4:1.7em 1.75em 0 0em;
@progress-box-shadow-5:0em 2.5em 0 0em;
@progress-box-shadow-6:-1.8em 1.8em 0 0em;
@progress-box-shadow-7:-2.6em 0em 0 0em;
@progress-box-shadow-8:-1.8em -1.8em 0 0em;

@progress-opacity-1:rgba(0, 0, 0, 1);
@progress-opacity-2:rgba(0, 0, 0, 0.7);
@progress-opacity-3:rgba(0, 0, 0, 0.5);
@progress-opacity-4:rgba(0, 0, 0, 0.2);


.loader_container {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:200;
    background-color:@loader-background-color;

    .loader {
        margin:20% auto 0 auto;
        font-size: @progress-size;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: relative;
        text-indent: -9999em;
        -webkit-animation: load5 1.1s infinite ease;
        animation: load5 1.1s infinite ease;
        }

    &.loader_container_details .loader {
        margin-top:50%;
        }
    }

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-1, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-3, @progress-box-shadow-8 @progress-opacity-2;
  }
  12.5% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-2, @progress-box-shadow-2 @progress-opacity-1, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-3;
  }
  25% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-3, @progress-box-shadow-2 @progress-opacity-2, @progress-box-shadow-3 @progress-opacity-1, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-4;
  }
  37.5% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-3, @progress-box-shadow-3 @progress-opacity-2, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-4;
  }
  50% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-3, @progress-box-shadow-4 @progress-opacity-2, @progress-box-shadow-5 @progress-opacity-1, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-4;
  }
  62.5% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-3, @progress-box-shadow-5 @progress-opacity-2, @progress-box-shadow-6 @progress-opacity-1, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-4;
  }
  75% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-3, @progress-box-shadow-6 @progress-opacity-2, @progress-box-shadow-7 @progress-opacity-1, @progress-box-shadow-8 @progress-opacity-4;
  }
  87.5% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-3, @progress-box-shadow-7 @progress-opacity-2, @progress-box-shadow-8 @progress-opacity-1;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-1, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-3, @progress-box-shadow-8 @progress-opacity-2;
  }
  12.5% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-2, @progress-box-shadow-2 @progress-opacity-1, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-3;
  }
  25% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-3, @progress-box-shadow-2 @progress-opacity-2, @progress-box-shadow-3 @progress-opacity-1, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-4;
  }
  37.5% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-3, @progress-box-shadow-3 @progress-opacity-2, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-4;
  }
  50% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-3, @progress-box-shadow-4 @progress-opacity-2, @progress-box-shadow-5 @progress-opacity-1, @progress-box-shadow-6 @progress-opacity-4, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-4;
  }
  62.5% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-3, @progress-box-shadow-5 @progress-opacity-2, @progress-box-shadow-6 @progress-opacity-1, @progress-box-shadow-7 @progress-opacity-4, @progress-box-shadow-8 @progress-opacity-4;
  }
  75% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-3, @progress-box-shadow-6 @progress-opacity-2, @progress-box-shadow-7 @progress-opacity-1, @progress-box-shadow-8 @progress-opacity-4;
  }
  87.5% {
    box-shadow: @progress-box-shadow-1 @progress-opacity-4, @progress-box-shadow-2 @progress-opacity-4, @progress-box-shadow-3 @progress-opacity-4, @progress-box-shadow-4 @progress-opacity-4, @progress-box-shadow-5 @progress-opacity-4, @progress-box-shadow-6 @progress-opacity-3, @progress-box-shadow-7 @progress-opacity-2, @progress-box-shadow-8 @progress-opacity-1;
  }
}


/* tooltip */


.ui-widget {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.ui-widget-content {
    border:0;
    background:none;
    background-color:@text-color;
    color:@text-secondary-color;
    font-size:1em;
    }

.ui-tooltip {
    position:absolute;
    padding:.5em;
    }



/* UI Dialog */

.ui-dialog {
    background: none @background-color;
    border:1px solid @widget-border-color;
    border-radius: 0;
    margin:0;
    padding:0;
    z-index: 9999;
}

.ui-dialog-buttonpane{
    background: none @background-color;
}

.ui-dialog-content{
    color:@text-color;
}

.ui-widget-header {
    background: none @widget-header-background-color;
}

.ui-dialog-title {
    color: @text-secondary-color;   
}

.ui-state-error {
    border:0;
    background:transparent;
    color:@text-color;
    }

/* ##### Responsive Styles ##### */

/* 
We're not supporting mobile devices with this release.
These responsive styles are for desktop support.
*/


@media screen and (max-width:900px) {


    /* Select a Device */
    .content_outer_selectDevice {
        overflow-x:auto;
        overflow-y:auto;
        }


    .list_select_device {
        min-width:inherit;
        }


    .list_item_select_device {
        float:none;
        margin-right:0;
        width:auto;
        min-height:inherit;
        overflow:auto;
        }

    .select_device_description {
        margin-bottom:1em;
        }

    .button_selectDevice {
        position:relative;
        bottom:inherit;
        left:inherit;
        }



    /* Edit Keys */

    .message_textbox {
        float:left;
        margin-bottom:1em;
        }

    input[type="text"].textbox_key_primary,
    select.valid {
        margin-bottom:0;
        }
    }


/* Addressing an issue in jQuery UI's initial visibility
*/
#ui-datepicker-div { display: none; }