<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="Autofac.Mvc5" version="3.3.4" targetFramework="net46" />
  <package id="Autofac.Owin" version="3.1.0" targetFramework="net46" />
  <package id="Autofac.WebApi2" version="3.4.0" targetFramework="net46" />
  <package id="Autofac.WebApi2.Owin" version="3.3.0" targetFramework="net46" />
  <package id="BuildWebCompiler" version="1.11.319" targetFramework="net46" />
  <package id="dotless" version="1.5.2" targetFramework="net46" />
  <package id="DotNetty.Buffers-signed" version="0.3.2" targetFramework="net46" />
  <package id="DotNetty.Codecs.Mqtt-signed" version="0.3.2" targetFramework="net46" />
  <package id="DotNetty.Codecs-signed" version="0.3.2" targetFramework="net46" />
  <package id="DotNetty.Common-signed" version="0.3.2" targetFramework="net46" />
  <package id="DotNetty.Handlers-signed" version="0.3.2" targetFramework="net46" />
  <package id="DotNetty.Transport-signed" version="0.3.2" targetFramework="net46" />
  <package id="Dynamitey" version="1.0.2.0" targetFramework="net46" />
  <package id="EnterpriseLibrary.TransientFaultHandling" version="6.0.1304.0" targetFramework="net46" />
  <package id="jQuery" version="2.2.3" targetFramework="net46" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net46" />
  <package id="jQuery.UI.i18n" version="1.10.2" targetFramework="net46" />
  <package id="jQuery.Validation" version="1.15.0" targetFramework="net46" />
  <package id="knockoutjs" version="3.4.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.Amqp" version="2.0.4" targetFramework="net46" />
  <package id="Microsoft.Azure.Devices" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.Azure.Devices.Client" version="1.2.5" targetFramework="net46" />
  <package id="Microsoft.Azure.Devices.Shared" version="1.0.7" targetFramework="net46" />
  <package id="Microsoft.Azure.DocumentDB" version="1.6.3" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net46" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.ActiveDirectory" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Cookies" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.Jwt" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.Owin.Security.WsFederation" version="3.0.1" targetFramework="net46" />
  <package id="Microsoft.RemoteMonitoring.Infrastructure.Connectivity" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.0.11" targetFramework="net46" />
  <package id="Moment.js" version="2.13.0" targetFramework="net46" />
  <package id="Mono.Security" version="3.2.3.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="net46" />
  <package id="PInvoke.BCrypt" version="0.3.152" targetFramework="net46" />
  <package id="PInvoke.Kernel32" version="0.3.152" targetFramework="net46" />
  <package id="PInvoke.NCrypt" version="0.3.152" targetFramework="net46" />
  <package id="PInvoke.Windows.Core" version="0.3.152" targetFramework="net46" />
  <package id="Respond" version="1.4.2" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net46" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net46" />
  <package id="Validation" version="2.2.8" targetFramework="net46" />
  <package id="WebGrease" version="1.6.0" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net46" />
</packages>