<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DeviceManagement.Infrustructure.Connectivity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ApiStatusBinding">
          <security mode="Transport" />
        </binding>
        <binding name="ApiStatusBinding1" />
        <binding name="SubscriptionManagementBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SubscriptionManagementBinding1" />
        <binding name="DeviceReconnectBinding">
          <security mode="Transport" />
        </binding>
        <binding name="DeviceReconnectBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://serviceportal.telenorconnexion.com/dcpapi/ApiStatus"
        binding="basicHttpBinding" bindingConfiguration="ApiStatusBinding"
        contract="EricssonApiService.ApiStatus" name="ApiStatusPort" />
      <endpoint address="https://serviceportal.telenorconnexion.com/dcpapi/SubscriptionManagement"
        binding="basicHttpBinding" bindingConfiguration="SubscriptionManagementBinding"
        contract="EricssonSubscriptionService.SubscriptionManagement"
        name="SubscriptionManagementPort" />
      <endpoint address="https://serviceportal.telenorconnexion.com/dcpapi/DeviceReconnect"
        binding="basicHttpBinding" bindingConfiguration="DeviceReconnectBinding"
        contract="DeviceReconnect.DeviceReconnect" name="DeviceReconnectPort" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <DeviceManagement.Infrustructure.Connectivity.Properties.Settings>
      <setting name="DeviceManagement_Infrustructure_Connectivity_com_jasperwireless_spark_BillingService"
        serializeAs="String">
        <value>https://api7.jasperwireless.com/ws/service/billing</value>
      </setting>
      <setting name="DeviceManagement_Infrustructure_Connectivity_com_jasperwireless_spark_terminal_TerminalService"
        serializeAs="String">
        <value>https://api7.jasperwireless.com/ws/service/terminal</value>
      </setting>
      <setting name="DeviceManagement_Infrustructure_Connectivity_com_jasperwireless_spark_echo_EchoService"
        serializeAs="String">
        <value>https://api7.jasperwireless.com/ws/service/echo</value>
      </setting>
      <setting name="Infrastructure_Connectivity_com_jasperwireless_spark_eventplan_EventPlanService"
        serializeAs="String">
        <value>https://api7.jasperwireless.com/ws/service/eventplan</value>
      </setting>
    </DeviceManagement.Infrustructure.Connectivity.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
