@using GlobalResources
<div id="dashboard_job_indicators" class="dashboard_job_indicators"></div>
<script src="~/Scripts/Views/Dashboard/JobIndicators.js?ver=@Constants.JSVersion"></script>
<script type="text/javascript">
    (function () {
        'use strict';

        IoTApp.Dashboard.JobIndicators.init();
    })();
</script>
