@using GlobalResources
<div id="telemetryHistory" class="dashboard_telemetry_history">
    <h2 class="dashboard_telemetry_history__telemetry_history_title" id="telemetryHistoryTitle">@Strings.TelemetryHistory</h2>
    <div id="telemetryHistoryGraph" class="dashboard_telemetry_history__telemetry_history_graph"></div>
</div>
<script src="~/Scripts/Views/Dashboard/TelemetryHistory.js?ver=@Constants.JSVersion"></script>
<script type="text/javascript">
    (function () {
        'use strict';

        var telemetryHistorySettings = {
            targetControl: $('#telemetryHistoryGraph'),
            targetControlContainer: $('#telemetryHistory'),
            targetControlSubtitle: $('#telemetryHistorySubtitle'),
            targetControlTitle: $('#telemetryHistoryTitle')
        };

        IoTApp.Dashboard.TelemetryHistory.init(telemetryHistorySettings);
        IoTApp.Dashboard.TelemetryHistory.resizeTelemetryHistoryGrid();

        $(window).resize(
            function () {
                IoTApp.Dashboard.TelemetryHistory.resizeTelemetryHistoryGrid();
            });
    })();
</script>
