@using GlobalResources
<div class="dashboard_telemetry_history_summary">
    <div id="leftGaugeContainer" class="dashboard_telemetry_history_summary__dashboard_telemetry_history_gauge dashboard_telemetry_history_gauge--leftGauge">
        <h5 class="telemetry_summary_gauge_control__gauge_header" id="leftGaugeLabel">@Strings.MaxOfDeviceTemperature</h5>
        <div id="leftGauge" class="dashboard_telemetry_history_gauge__telemetry_summary_gauge_control"></div>
    </div>
    <div id="middleGaugeContainer" class="dashboard_telemetry_history_summary__dashboard_telemetry_history_gauge dashboard_telemetry_history_gauge--centerGauge">
        <h5 class="telemetry_summary_gauge_control__gauge_header" id="leftGaugeLabel">@Strings.MinOfDeviceTemperature</h5>
        <div id="middleGauge" class="dashboard_telemetry_history_gauge__telemetry_summary_gauge_control"></div>
    </div>
    <div id="avgDeviceTemperatureContainer" class="dashboard_telemetry_history_summary__dashboard_telemetry_history_gauge dashboard_telemetry_history_gauge--rightGauge">
        <h5 class="telemetry_summary_gauge_control__gauge_header" id="avgDeviceTemperatureLabel">@Strings.AverageOfDeviceTemperature</h5>
        <div id="rightGauge" class="dashboard_telemetry_history_gauge__telemetry_summary_gauge_control"></div>
    </div>
</div>
<script src="~/Scripts/Views/Dashboard/TelemetryHistorySummary.js?ver=@Constants.JSVersion"></script>
<script>

    (function () {
        'use strict';

        var telemetryHistorySummarySettings = {
            gaugeMaxValue: 100,
            gaugeMinValue: 0,
            leftGaugeContainer: $('#leftGaugeContainer'),
            leftGaugeControl: $('#leftGauge'),
            leftGaugeLabel: $('#leftGaugeLabel'),
            middleGaugeContainer: $('#middleGaugeContainer'),
            middleGaugeControl: $('#middleGauge'),
            middleGaugeLabel: $('#leftGaugeLabel'),
            rightGaugeContainer: $('#avgDeviceTemperatureContainer'),
            rightGaugeControl: $('#rightGauge'),
            rightGaugeLabel: $('#avgDeviceTemperatureLabel')
        };

        IoTApp.Dashboard.TelemetryHistorySummary.init(telemetryHistorySummarySettings);

        IoTApp.Dashboard.TelemetryHistorySummary.resizeTelemetryHistorySummaryGuages();

        $(window).resize(
            function () {
                IoTApp.Dashboard.TelemetryHistorySummary.resizeTelemetryHistorySummaryGuages();
            });

    })();
</script>
