<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="docdb.EndpointUrl" value="config:DocDbEndPoint" />
    <add key="docdb.PrimaryAuthorizationKey" value="config:DocDBKey" />
    <add key="docdb.DatabaseId" value="DevMgmtDB" />
    <add key="docdb.DocumentCollectionId" value="DevMgmtCollection" />
    <add key="iotHub.HostName" value="config:IotHubName" />
    <add key="iotHub.ConnectionString" value="config:IotHubConnectionString" />
    <add key="eventHub.HubName" value="config:ServiceEHName" />
    <add key="eventHub.ConnectionString" value="config:ServiceSBConnectionString" />
    <add key="eventHub.StorageConnectionString" value="config:ServiceStoreAccountConnectionString" />
    <add key="device.StorageConnectionString" value="config:ServiceStoreAccountConnectionString" />
    <add key="device.TableName" value="config:DeviceTableName" />
    <add key="ObjectTypePrefix" value="config:ObjectTypePrefix" />
    <add key="RulesEventHub.Name" value="config:RulesEventHubName" />
    <add key="RulesEventHub.ConnectionString" value="config:RulesEventHubConnectionString" />
    <add key="DeviceRulesStoreContainerName" value="devicerules" />
    <add key="DeviceRulesTableName" value="DeviceRulesNormalizedTable" />
    <add key="NameCacheTableName" value="NameCacheList" />
    <add key="ActionMappingStoreContainerName" value="actionmappings" />
    <add key="ActionMappingStoreBlobName" value="mappings.json" />
    <add key="AsaRefDataRulesBlobName" value="devicerules.json" />
    <add key="DevicePollIntervalSeconds" value="20" />
    <add key="UseConfigForDeviceList" value="False" />
  </appSettings>
</configuration>
