<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
    <customErrors mode="RemoteOnly"/>
    <sessionState mode="Off"/>
  </system.web>
  <appSettings>
    <add key="ida.AADTenant" value="config:AADTenant"/>
    <add key="ida.AADAudience" value="config:AADAudience"/>
    <add key="ida.FederationMetadataAddress" value="config:AADMetadataAddress"/>
    <add key="ida.FederationRealm" value="config:AADRealm"/>
    <add key="docdb.EndpointUrl" value="config:DocDbEndPoint"/>
    <add key="docdb.PrimaryAuthorizationKey" value="config:DocDBKey"/>
    <add key="docdb.DatabaseId" value="DevMgmtDB"/>
    <add key="docdb.DocumentCollectionId" value="DevMgmtCollection"/>
    <add key="iotHub.HostName" value="config:IotHubName"/>
    <add key="iotHub.ConnectionString" value="config:IotHubConnectionString"/>
    <add key="device.StorageConnectionString" value="config:ServiceStoreAccountConnectionString"/>
    <add key="device.TableName" value="config:DeviceTableName"/>
    <add key="DeviceRulesStoreContainerName" value="devicerules"/>
    <add key="DeviceRulesTableName" value="DeviceRulesNormalizedTable"/>
    <add key="ActionMappingStoreContainerName" value="actionmappings"/>
    <add key="ActionMappingStoreBlobName" value="mappings.json"/>
    <add key="AsaRefDataRulesBlobName" value="devicerules.json"/>
    <add key="SolutionName" value="Remote Monitoring Solution"/>
    <add key="TelemetryStoreContainerName" value="devicetelemetry"/>
    <add key="TelemetryDataPrefix" value="devicetelemetry/"/>
    <add key="TelemetrySummaryPrefix" value="devicetelemetry-summary/"/>
    <add key="AlertsStoreContainerName" value="rulesoutput"/>
    <add key="DeviceAlertsDataPrefix" value=""/>
    <add key="MapApiQueryKey" value="config:MapApiQueryKey"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>