<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.Azure.Devices.Applications.RemoteMonitoring.Simulator.WebJob.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="docdb.EndpointUrl" value="config:DocDbEndPoint" />
    <add key="docdb.PrimaryAuthorizationKey" value="config:DocDBKey" />
    <add key="docdb.DatabaseId" value="DevMgmtDB" />
    <add key="docdb.DocumentCollectionId" value="DevMgmtCollection" />
    <add key="iotHub.HostName" value="config:IotHubName" />
    <add key="iotHub.ConnectionString" value="config:IotHubConnectionString" />
    <add key="eventHub.HubName" value="config:ServiceEHName" />
    <add key="eventHub.ConnectionString" value="config:ServiceSBConnectionString" />
    <add key="eventHub.StorageConnectionString" value="config:ServiceStoreAccountConnectionString" />
    <add key="device.StorageConnectionString" value="config:ServiceStoreAccountConnectionString" />
    <add key="device.TableName" value="config:DeviceTableName" />
    <add key="ObjectTypePrefix" value="config:ObjectTypePrefix" />
    <add key="RulesEventHub.Name" value="config:RulesEventHubName" />
    <add key="RulesEventHub.ConnectionString" value="config:RulesEventHubConnectionString" />
    <add key="DeviceRulesStoreContainerName" value="devicerules" />
    <add key="DeviceRulesTableName" value="DeviceRulesNormalizedTable" />
    <add key="ActionMappingStoreContainerName" value="actionmappings" />
    <add key="ActionMappingStoreBlobName" value="mappings.json" />
    <add key="AsaRefDataRulesBlobName" value="devicerules.json" />
    <add key="DevicePollIntervalSeconds" value="20" />
    <add key="UseConfigForDeviceList" value="False" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Amqp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Transport" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Codecs.Mqtt" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Common" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Buffers" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Handlers" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PCLCrypto" publicKeyToken="d4421c8a4786956c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
      The DeviceList in applicationSettings is used to drive the devices that start up in the simulator
      Update this list with a valid set of deviceIds, primary key and secondary key, comma delimited
  -->
  <applicationSettings>
    <Microsoft.Azure.Devices.Applications.RemoteMonitoring.Simulator.WebJob.Properties.Settings>
      <setting name="DeviceList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>RCDOCDB-DEVICE-000,r/lHS8WvU8Pd8oVJSEjPzg==</string>
          </ArrayOfString>
        </value>
      </setting>
    </Microsoft.Azure.Devices.Applications.RemoteMonitoring.Simulator.WebJob.Properties.Settings>
  </applicationSettings>
</configuration>
